{% extends 'dummy.html' %}


{% block title %}
<title>CHANGE PASSWORD PAGE</title>

{% endblock %}


{% block body_block %}

<center>
    <h1>
        CHANGE PASSWORD
    </h1>
    <form  method="POST">
        {% csrf_token %}

        <label for="un">USERNAME</label>
        <input type="text" name="un" id="un">


        <label for="rw">NEW PASSWORD</label>
        <input type="password" name="rw" id="rw"> <br>

        <input type="submit" value="RESET PASSWORD">


</form>
    

</center>



{% endblock %}